<div class="wrap">
  <h2>User Search Lab</h2>

  <div class="modes">
    <label>
      <input type="radio" name="mode" [checked]="mode==='REMOTE'" (change)="setMode('REMOTE')" />
      Remote (debounce + call backend)
    </label>

    <label>
      <input type="radio" name="mode" [checked]="mode==='LOCAL'" (change)="setMode('LOCAL')" />
      Local (fetch 1000 once, then filter in browser)
    </label>
  </div>

  <div class="row" style="margin-bottom: 10px;">
    <label>Org:</label>
    <select [value]="orgId" (change)="changeOrg($any($event.target).value)">
      <option [value]="1">Org 1</option>
      <option [value]="2">Org 2</option>
      <option [value]="3">Org 3</option>
    </select>
  </div>

  <div class="row">
    <input class="input" [formControl]="query" placeholder="Type name/email..." />
    <div class="metrics" *ngIf="lastResponseMs !== null">
      last response: <b>{{ lastResponseMs | number:'1.0-2' }} ms</b>
    </div>
  </div>

  <ul class="dropdown" *ngIf="suggestions.length > 0">
    <li *ngFor="let u of suggestions" (click)="choose(u)">
      {{ display(u) }}
    </li>
  </ul>

  <div class="selected" *ngIf="selected">
    <h3>Selected</h3>
    <pre>{{ selected | json }}</pre>
  </div>
</div>
